<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rock Paper Scissors</title>
    <link href="css/animations.css" type="text/css" rel="stylesheet" />
    <link href="css/style.css" type="text/css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Bubblegum+Sans' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
</head>
<body ng-app="app" ng-controller="GameController">

    <div id="fullWidth">
        <div class="row">
            <div class="col-3"><span class="score">Your score: {{userScore}}</span></div>
            <div class="col-6 pulse">
                <h1 class="rubberBand">Rock, Paper, Scissors</h1>
            </div>
            <div class="col-3"><span class="score">Computer score: {{computerScore}}</span></div>
        </div>

        <div class="row">
            <div class="col-3">&nbsp;</div>
            <game-action ng-repeat="action in actions"></game-action>
            <div class="col-3">&nbsp;</div>
        </div>

        <div class="row">
            <div class="col-3">&nbsp;</div>
            <div class="col-6">
                <h3>Computer selection:</h3>
            </div>
            <div class="col-3">&nbsp;</div>
        </div>

        <div class="row">
            <div class="col-5">&nbsp;</div>
            <game-action ng-repeat="action in actions | filter: {comp:true}"></game-action>
            <div class="col-5">&nbsp;</div>
        </div>

        <div class="row">
            <div class="col-5">&nbsp;</div>
            <game-result ng-if="gameResult"></game-result>
            <div class="col-5">&nbsp;</div>
        </div>

    </div>

    <script src="js/app.js" type="text/javascript"></script>
    <script src="js/controllers/gameController.js"></script>
</body>
</html>